.total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.app-container {
    margin-top: 30px;
    /* background-color: brown; */
    
    height:90vh;
    /* position: relative; */
    
    
}

.side-nav{
    padding: 0 20px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content:end;
    height: 100%;
    position: fixed;
    top:0;
    min-width: 320px;
    padding: 35px 0;
    /* box-sizing: content-box; */
    box-sizing: border-box;
    
    
}

.menu-items {
    height: 400px;
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    box-sizing: border-box;
    /* background-color: chocolate; */
    width: 240px;
    
    
}
.menu-items > li {
    font-size: 20px;
    color:black;

}

.side {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    border-right: 2px solid #222222;
    padding-right: 50px;
    /* background-color: aliceblue; */
}

.brand {
    font-weight: bold;
    font-size: 30px;
    color:var(--primary-color);
    text-align: center;
}

.user-profile {
    
    margin: 0 auto;
}

.active-item {
    padding: 15px 30px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 600;
    display: block;
}

.non-active-item {
    font-size: 20px;
    color:black;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
}

.non-active-item:hover {
    padding: 15px 30px;
    background-color:var(--background-color);
    border-radius: 50px;
}