select {
    /* appearance: none; */
    
  
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    /* border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px; */
}

option:hover {
    background-color: var(--primary-color);
}


.filter {
    width: 170px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
}

.filters {
    margin: 20px 0;
}