.job-list-item{
    width: 100%;
    background: #F7F5FD;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 4px var(--box-shadow);
    border: 3px solid #F7F5FD;
}

.job-list-item .job-list-general{
    display: flex;
}

.job-list-item:hover{
    /* background: var(--box-shadow); */
    border: 3px solid var(--primary-color);
}

.job-list-item h3{
    font-size: 22px;
    margin-bottom: 8px;
}

.job-list-item p{
    font-size: 16px;
    max-width: 600px;
    word-wrap: break-word;
    margin-top: 8px;
}

/* .job-list-item span{
    font-size: 18px;
    margin-bottom: 8px;
} */

.job-list-right{
    flex-basis: 20%;
    text-align: end;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-list-left{
    flex-basis: 80%;
}

.job-category-mini {
    font-size:14px;
    border-radius: 50px;
    /* background-color: white; */
    /* color: var(--primary-color); */
    /* color: black; */
    color: #222222;
    padding: 2px 6px;
    /* border: 2px solid #222222; */
    /* border: 3px solid var(--box-shadow); */
    border: 2px solid var(--primary-color);
}
